* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
}

.nav-link {
    color: white;
    margin: 0.5em;
    padding: 5px;
    font: 20px Arial;
    background-color: dodgerblue;
}

.nav-link:hover {
  cursor: pointer;
}

#log_sign_screen{
    height: 60vw;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3vw;

}

#sign_up_box{
    height: 40vw;
    width: 33vw;
}
#signup{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#divider{
    height: 40vw;
    width: 1vw;
    background-color: black;
}

#log_in_box{
    height: 40vw;
    width: 33vw;
    
}
#login{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.labelAndInput{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: flex-start;
}

.labelAndInput input{
    
    margin-left: 2vw;
    width: 20vw;
    height: 3vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,.5);
    border: 0;
    padding-left: .5vw;
    color: red;
}

.buttons{
    height: 3vw;
    color: red;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,.7);
    border-radius: 2%;
    padding: .5vw 2vw .5vw 2vw;
}

.buttons:hover{
    color:black;
    background-color: rgba(200,0, 0, .7);
}

.success {
    color: green;
    background-color: white;
    border-radius: 6%;
    border: 2px solid green;
    padding: 8px;
}
.fail {
    color: red;
    background-color: white;
    border-radius: 6%;
    border: 2px solid red;
    padding: 8px;
}

.businesses-state {
    height: 100%;
    width: 100%;
}

.change-buttons {
    display: flex;
    justify-content: space-evenly;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: 100px;
}

.creation-form {
    border: 1px solid black;
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

#submit-btn {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin: 5px 7px 0 0;
    border-radius: 6%;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 85%;
}
input[type=password] {
    background-color: #f1f1f1;
    width: 85%;
}
input[type=submit] {
    background-color: dodgerblue;
    color: #fff;
}
input[type=button] {
    background-color: dodgerblue;
    margin: 50px 15px 0 15px;
    width: 200px;
    height: 50px
}

.hidden {
    display: none;
}